.Answer {
    text-align: center;
    min-height: 25vh;
  }

  .Answer-header {
    background-color: crimson;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1.5em);
    color: white;
  }

  ol {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3em;
    text-align: left;
    margin-left: 30%;
  }
