.Welcome {
    text-align: center;
    min-height: 25vh;
  }
  
  .Welcome-header {
    background-color: #282c34;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: calc(4em);
    color: white;
  }
  
  